*{
box-sizing: border-box;
}

body {
  background-color: #f0f4f8; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  width: 400px; 
}

h1 {
  color: #1e90ff; 
  text-align: center;
}

input[type="text"] {
  width: 100%; 
  border: 2px solid #1e90ff; 
  border-radius: 5px; 
  transition: border 0.3s ease; 
  margin-bottom: 10px;
  padding:10px;
}

input[type="text"]:focus {
  border-color: #4682b4; 
  outline: none; 
}

button {
  background-color: #1e90ff; 
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4682b4; 
}

ul {
  list-style-type: none; 
  padding: 0; 
}

li {
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  margin: 5px 0; 
  transition: background-color 0.3s ease; 
  cursor: pointer;
}


li.completed {
  background-color: #e0f7fa; 
  text-decoration: line-through; 
}


li.incomplete {
  background-color: #ffffff; 
}

.error-message {
  color: red; 
  font-size: 14px;
}